
<h1 class="bottom">Flight <%= h flight.number %></h1>
<p class="span-2 quiet">
  From <%= h flight.from %> to <%= h flight.to %>
</p>
<p class="spam-2 quiet">
  Date: <%= h flight.date %>
</p>


<div id="passengers" class="span-6">
  <h2>Passengers on that Flight</h2>
  <ul>
  <% flight.passengers.each do |user| %>
    <li><a href="http://twitter.com/<%= h user.login %>">@<%= h user.login %></a></li>
  <% end %>
  </ul>
</div>

<div class="span-6 last">
  <% unless flight.passengers.include?(current_user) %>
    <form action="/flights" method="POST">
      <input type="hidden" name="flight[number]" id="flight_number" value="<%= flight.number %>"/>
      <input type="hidden" name="flight[date]" id="flight_date" value="<%= flight.date %>"/>
  
      <p>
        <input type="submit" value="I'm on that Plane"/>
      </p>
    </form>
  <% else %>
    <p>You're on that plane</p>
  <% end %>
  
  <a href="http://twitter.com/?status=<%= escape_uri "I will be flying from #{h flight.from} to #{h flight.to} on #{flight.date}. Are we on the same flight? #{base_url}/#{flight.to_key} #imonaplane"%>">Tweet this...</a>
</div>
